@import "./_theme.scss";


nav {
  display: flex;
  width: 100%;
  background-color: $themeNavBg;

  a {
    padding: 0.5em 1em;

    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    color: $themeFont;

    &:hover, &.selected {
      background-color: $themeFont;
      color: $themeBg;
    }

    &.todo:hover {
      background-color: $themeNavBg;
      color: $themeFont;
      cursor: not-allowed;
    }
  }

  .todo {
    &:hover {

    }
  }
}
